<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>678727118050-2h90fbprvvkm0fjqevh67rbh7e8qf0ip.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.678727118050-2h90fbprvvkm0fjqevh67rbh7e8qf0ip</string>
	<key>API_KEY</key>
	<string>AIzaSyDyXoK9UCT-wEYXOBzNOaqozPwVK29jtKU</string>
	<key>GCM_SENDER_ID</key>
	<string>678727118050</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.studiAdmin.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>studi-3e797</string>
	<key>STORAGE_BUCKET</key>
	<string>studi-3e797.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:678727118050:ios:8298acabc55467432ec2bb</string>
</dict>
</plist>